:root {
    --main: #262626;
    --sub: #494949;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 1rem;
    max-width: calc(550px + 2rem);

    color: var(--main-text);
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 500;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

.card {
    padding: 1rem;
    background-color: hsl(0, 0%, 94%);
    border: 1px solid hsl(0, 0%, 92%);
    border-radius: 10px;
}
